<h2> Menu </h2>
<%= link_to "Introduction", { :controller => 'pages', :action => 'showpage', :title => 'home' }, :remote => true, :method => :post %><br>
<%= link_to "Initial Setup", { :controller => 'pages', :action => 'showpage', :title => 'setup' }, :remote => true,  :method => :post %><br>
<%= link_to "CSS and Images", { :controller => 'pages', :action => 'showpage', :title => 'css' }, :remote => true,  :method => :post %><br>
<%= link_to "Setting Up User", { :controller => 'pages', :action => 'showpage', :title => 'user' }, :remote => true,  :method => :post %><br>
<%= link_to "Player Sign-up", { :controller => 'pages', :action => 'showpage', :title => 'signup' }, :remote => true,  :method => :post %><br>
<%= link_to "Player Login", { :controller => 'pages', :action => 'showpage', :title => 'login' }, :remote => true,  :method => :post%><br>
<%= link_to "Card Class", { :controller => 'pages', :action => 'showpage', :title => 'card' }, :remote => true,  :method => :post %><br>
<%= link_to "Hand Class", { :controller => 'pages', :action => 'showpage', :title => 'hand' }, :remote => true,  :method => :post %><br>
<%= link_to "Game Controller - Deal", { :controller => 'pages', :action => 'showpage', :title => 'game' }, :remote => true,  :method => :post %><br>
<%= link_to "Required Partials", { :controller => 'pages', :action => 'showpage', :title => 'game2' }, :remote => true,  :method => :post %><br>
<%= link_to "Game Controller - Hit", { :controller => 'pages', :action => 'showpage', :title => 'game3' }, :remote => true,  :method => :post %><br>
<%= link_to "Game Controller - Double", { :controller => 'pages', :action => 'showpage', :title => 'game4' }, :remote => true,  :method => :post %><br>
<%= link_to "Game Controller - Stay", { :controller => 'pages', :action => 'showpage', :title => 'game5' }, :remote => true,  :method => :post %><br>